/* title */
.page {
    bottom: 0px;
    background: #F6F6F6;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

.textAlign {
    text-align: center;
}

.headerH55 {
    height: 55px;
    line-height: 55px;
}

header.headerH55 {
    font-size: 18px;
    color: #000;
}

.patentRelative {
    position: relative;
}

.header_bac {
    background: #F6F6F6;
}

.bac_white {
    background-color: #fff;
}

.callfee_box .weui-form-preview__label {
    font-weight: normal;
    color: #666;
    height: 1.41176471em;
    line-height: 1.41176471;
    margin-bottom: 0;
    text-align: center;
    text-align-last: unset;
    margin-right: 0;
}

/* .callfee_box .weui-form-preview__hd {
    line-height: 1.41176471;
} */

.downlist {
    background-color: #5B93E9;
    font-size: 12px;
    color: #fff !important;
    border-radius: 8px;
}

.callfee_box input {
    color: #999999;
}

.callfee_box .weui-form-preview__hd:after {
    right: 0px;
    left: 0;
    border-color: #d5d5d5;
}

.callfee_box section .allrich {
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.callfee_box section {
    margin-bottom: 50px;
}

/* 时间的 plasholder */
.inputdate {
    font-size: 12px;
    text-align: center;
    position: relative;
    text-align: center;
    /* border: 1px solid #D5D5D5;
    border-radius: 8px; */
}

/* footer */
footer .weui-btn_primary {
    background-color: #5B93E9;
    font-size: 15px;
    font-weight: normal;
}

footer .weui-btn_primary:active,
footer .weui-btn_primary:hover,
footer .weui-btn_primary:not(.weui-btn_disabled):active {
    background-color: #5B93E9;
    color: #fff;
}


.detailsbox_content .weui-flex {
    align-content: space-between;
    color: #333333;
    font-size: 14px;
}

.detailsbox_content .weui-form-preview__label {
    text-align: left;
    text-align-last: unset;
    color: #333333;
}

.detailsbox_content.weui-form-preview__bd {
    position: relative;
    padding: 10px 16px;
}

.detailsbox_content.weui-form-preview__bd::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #d5d5d5;
    color: rgba(0, 0, 0, .1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.content_box_weui.content_title_box .weui-form-preview__bd:first-child {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    background: #EEEEEE;
}

.content_box_weui .weui-form-preview__bd {
    padding: 10px 16px;
    color: #666666;
    border-bottom: 1px solid #d5d5d5;
}

.content_box_weui .weui-form-preview__bd:last-child {
    border: none;
}

.content_box_weui .weui-form-preview__bd .weui-form-preview__item span:first-child {
    text-align: left;
}

.content_box_weui .weui-form-preview__bd .weui-form-preview__item span:nth-child(2) {
    text-align: center;
}

.content_box_weui .weui-form-preview__bd .weui-form-preview__item span:last-child {
    text-align: right;
}

.tacenter {
    text-align: center;
}

footer {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #d5d5d5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

footer span {
    padding: 15px;
}

footer span>img {
    height: 20px;
}