/* 首页 */
.page {
    bottom: 0px;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

.textAlign {
    text-align: center;
}

.headerH55 {
    height: 55px;
    line-height: 55px;
}


/* 专属魔盒 */
.pad15 {
    padding: 0px 20px;
}

.padleft15 {
    padding-left: 15px;
}

.flexDirection_clumn {
    /* display: flex; */
    flex-direction: column;
}

.grindingBox {
    /* min-height: 180px; */
}

.grindingBox_title,
.hotProduct_title,
.recommendProduct_title {
    padding: 15px 0px;
}

.grindingBox .weui-flex .flexDirection_clumn .weui-flex__item:nth-child(odd) {
    padding-bottom: 8px;
}

.grindingBox .weui-flex .flexDirection_clumn .weui-flex__item:nth-child(even) {
    padding-top: 8px;
}

/* 热销产品  | 推荐产品 */

.hotProduct .weui-flex img,
.recommendProduct .weui-flex img,
.grindingBox .weui-flex img {
    width: 100%;
}

.hotProduct .weui-flex,
.recommendProduct .weui-flex {
    padding-bottom: 13px;
}

.hotProduct .weui-flex:last-child {
    padding-bottom: 0;
}

/* 奇数行 */
.hotProduct .weui-flex .weui-flex__item:nth-child(odd),
.recommendProduct .weui-flex .weui-flex__item:nth-child(odd) {
    padding-right: 8px;
}

/* 偶数行 */
.hotProduct .weui-flex .weui-flex__item:nth-child(even),
.recommendProduct .weui-flex .weui-flex__item:nth-child(even) {
    padding-left: 8px;
}

/* flex 布局  */
.flexNum {
    flex: 2;
}




/* grid 布局 */

.weui-grids:before,
.weui-grids:after,
.weui-grid:before,
.weui-grid:after {
    border: none;
}

.hotProduct .weui-grid {
    padding: 0 1.5px;
}

.hotProduct .weui-grid:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 3px;
}

.hotProduct .weui-grid:nth-child(3n) {
    padding-right: 0;
    padding-left: 3px;
}

.weui-grid__icon,
.weui-grid__icon img {
    height: auto;
    width: 100%;
}

.hotProduct .weui-grids {
    padding-bottom: 4.5px;
}

.recommendProduct .weui-grid {
    width: 50%;
}

.recommendProduct .weui-grid {
    padding: 0 2.5px;
}

.recommendProduct .weui-grid:nth-child(2n+1) {
    padding-left: 0;
    padding-right: 2.5px;
}

.recommendProduct .weui-grid:nth-child(2n) {
    padding-right: 0;
    padding-left: 2.5px;
}

.recommendProduct .weui-grids {
    padding-bottom: 5px;
}

.placeholderDiv {
    height: 10px;
    background: #eee;
}


.grindingBox {
    padding-bottom: 10px;
}

.hotProduct {
    padding-bottom: 5.5px;
}

.recommendProduct {
    padding-bottom: 5px;
}


/* 轮播图 */
.swiper-slide img {
    width: 100%;
}